@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    border-radius: 5px;
  }
  
  .input {
    border: none;
    border-radius: 5px;
    padding: 5%;
    width: 80%;
    font-size: 1.0em;
    font-family: 'Poppins', sans-serif;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background: #5f0a87;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }